// Footer
footer {
  background: #333333;

  height: 285px;
}

.fa-up {
  padding-top: 2.5rem;
}

.social-footer {
  i {
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
  }
}

.page-id-1249,
.blog {
  footer {
    opacity: 1;
    transform: (1, auto);
  }
}
