// Footer
footer {
  color: white;
  height: 100% !important;

  a {
    color: white;
    text-decoration: none;
    font-family: $body-font;
    font-size: 17px;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.cv a {
  color: #4eb89f;
}

.credit p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.credit a {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

footer {
  background: #333333;
  height: 285px;
}

.fa-up {
  padding-top: 2.5rem;
}

.social-footer {
  i {
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
  }
}

.page-id-1249,
.blog {
  footer {
    opacity: 1;
    transform: (1, auto);
  }
}
