.wpcf7-mail-sent-ok {
  border: 2px solid #333333;
}

.blog {
  margin-top: 80px;
}

.form-control {
  border-radius: 1rem;
  &:focus {
    border-color: #333333;
    box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.25);
  }
}
