.efbl-story-wrapper {
  border-radius: 1rem;

  .efbl-profile-title-wrap h2 {
    padding-top: 0px;
  }

  .esf-share {
    border-radius: 0.25rem !important;
    font-family: $body-font !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    padding: 0.375rem 0.75rem !important;
    line-height: 1.5 !important;
  }
}
