html,
body {
  font-size: 15px;
  font-family: $body-font;
  background-color: $primary-background;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $header-font;
  }

  h2 {
    font-size: 40px;
  }
}

.about-text {
  p {
    font-size: 1.1rem;
  }
}

.no-padding-dots {
  list-style-type: none;
  padding-left: 0;
}
